html{
    font-size: 8px;
}
body{
    font-size:4px;
}
.par{
  width: 500px;
  background-color: antiquewhite;
   font-size: 5em;
}
.child{
    width: 50%;
  background-color: red;
  font-size:0.5em;
} 
ul{
    font-size:5em;
}
p{
    font-size: 10rem;
}
h2{
    font-size:5vw;
}