h2{
    text-align: center;
}
form{
    width:30rem;
    margin:auto;
    background-color: darkcyan;
    padding:30px;
}
label{
    font-size: 1.3rem;
    
    

}
input,select,textarea{
    width:100%;
    font-size: 1.1rem;
    /* border:none;
    border-bottom: 2px solid;
    outline:none; */

}
.credentials{
    margin-bottom:10px;
}
input:focus,select:focus,textarea:focus{
    
    background-color: bisque;
}
input[type=checkbox],input[type=radio]{
  width:15px;
}
button{
    display:block;
    margin:auto;
    background-color: rgb(38, 130, 115);
    cursor:pointer;
}

